@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-2 form-floating">
            <select name="Priority" class="form-select" asp-items=@(ViewBag.Priorities as IEnumerable<SelectListItem>)>
            </select>
            <label for="Priority">اولویت</label>
        </div>
    </div>
</div>
